@tailwind base;
@tailwind components;
@tailwind utilities;


/* width */
::-webkit-scrollbar {
    width: 10px;
    
}

/* Track */
::-webkit-scrollbar-track {
    background: #18181B;
    
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #64B381;
    border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #3f8f5c;
}







.scroll::-webkit-scrollbar {
    height: 5px;
    
}

/* Track */
.scroll::-webkit-scrollbar-track {
    background: #18181B;
    
}

/* Handle */
.scroll::-webkit-scrollbar-thumb {
    background: #64B381;
    border-radius: 25px;
}

/* Handle on hover */
.scroll::-webkit-scrollbar-thumb:hover {
    background: #3f8f5c;
}